/*
Theme Name: BAT DONG SAN
Theme URI: https://muatheme.com/san-pham/theme-wordpress-gioi-thieu-du-bat-dong-san-tuyet-dep/
Author: MuaTheme.com
Author URI: https://muatheme.com
Template: flatsome
Version: 3.6.1
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}