.outlet-header{
	    background: url(https://store.ahlustore.com/wp-content/domain/store.ahlustore.com/assets/bg.png) no-repeat center right;
    min-height: 100px;
    background-size: cover;
    color: #fff;
}
.outlet-header{}


.main-products{}

/* Product Layout */

.main-products .product-filter {
	display: flex;
	padding: 16px 0;
	    justify-content: space-between;
	        align-items: center;
}

.main-products .sort {
	display: flex;
	align-self: flex-end;
}

.main-products .collection-sort {
 display: flex;
	flex-direction: column;
}

.main-products .collection-sort:first-child {
	padding-right: 20px;
}

.main-products label {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2em;
	text-transform: uppercase;
}

.main-products .products {
	display: flex;
	flex-wrap: wrap;
}

.main-products .product-card {
	display: flex;
	flex-direction: column;
	
	padding: 8px;
	flex: 1 20%;
	
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.main-products .product-image img {
	width: 100%;
}

.main-products .product-info {
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
}

.main-products .product-info h5,.product_list_widget a{
	    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media ( max-width: 920px ) {
	
	.main-products .product-card {
		flex: 1 21%;
	}
	
	.main-products .products .product-card:first-child, 
	.main-products .products .product-card:nth-child(2) {
		flex: 2 46%;
	}
	
}

@media ( max-width: 600px ) {
	
	.main-products .product-card {
		flex: 1 46%;
	}
	
}

@media ( max-width: 480px ) {
	
	.main-products h1 {
		margin-bottom: 20px;
	}
	
	.main-products .product-filter {
		flex-direction: column;
	}
	
	.main-products .sort {
		align-self: flex-start;
	}
	
}

.block-profile{
	display: flex;
    justify-content: space-between;
}
.block-profile .i-logo{

}
.block-profile .i-logo img{
	    height: 75px;
}
.block-profile .i-info{
	    display: flex;
    flex-direction: row;
}
.block-profile .block{
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #f1f1f1;
}
.block-profile .block > *{
	margin-bottom: 8px;
	text-align: center;
}
.block-profile .block svg{
	width: 15px;
}

.bar-block{background-color: rgba(130, 183, 53, 1);
    border-bottom-style: solid;}

.block-profile .block h1{
	font-size: 1rem;
}

.bar-block .menu{

}

.bar-block .menu a{
	display:inline-block;
	padding: 10px 20px;
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
}
.bar-block .menu a:hover{
	color:#f1f1f1;
}

.main-category{
	display: flex;
	flex-wrap: wrap;
}

.main-category a{
	display: block;
    width: 125px;
    height: 125px;
    background-position: center;
    background-size: cover;
}