
/*----------step-wizard------------*/
        .d-flex {
            display: flex;
        }

        .justify-content-center {
            justify-content: center;
        }

        .align-items-center {
            align-items: center;
        }

        /*---------signup-step-------------*/
        .bg-color {
            background-color: #333;
        }

        .signup-step-container {
            padding: 40px 0px;
            padding-bottom: 60px;
        }




        .wizard .nav-tabs {
            position: relative;
            margin-bottom: 0;
            border-bottom-color: transparent;
        }

        .wizard>div.wizard-inner {
            position: relative;
        }

        .signup-step-container .connecting-line {
            height: 2px;
            background: #e0e0e0;
            position: absolute;
            width: 75%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 42%;
            z-index: 1;
        }

        .wizard .nav-tabs>li.active>a,
        .wizard .nav-tabs>li.active>a:hover,
        .wizard .nav-tabs>li.active>a:focus {
            color: #555555;
            cursor: default;
            border: 0;
            border-bottom-color: transparent;
        }

        .signup-step-container  span.round-tab {
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            border-radius: 50%;
            background: #fff;
            z-index: 2;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 16px;
            color: #0e214b;
            font-weight: 500;
            border: 1px solid #ddd;
        }

        .signup-step-container  span.round-tab i {
            color: #555555;
        }

        .wizard li.active span.round-tab {
            background: var(--main-primary-bg);
            color: #fff;
            border-color: var(--main-primary-bg);
        }

        .wizard li.active span.round-tab i {
            color: #5bc0de;
        }

        .wizard .nav-tabs>li.active>a i {
            color: #0db02b;
        }

        .wizard .nav-tabs>li {
            width: 25%;
        }

        .wizard li:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 0;
            margin: 0 auto;
            bottom: 0px;
            border: 5px solid transparent;
            border-bottom-color: red;
            transition: 0.1s ease-in-out;
        }



        .wizard .nav-tabs>li a {
            width: 30px;
            height: 30px;
            margin: 20px auto;
            border-radius: 100%;
            padding: 0;
            background-color: transparent;
            position: relative;
            top: 0;
        }

        .wizard .nav-tabs>li a i {
            position: absolute;
            top: -15px;
            font-style: normal;
            font-weight: 400;
            white-space: nowrap;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
            font-weight: 700;
            color: #000;
        }

        .wizard .nav-tabs>li a:hover {
            background: transparent;
        }

        .wizard .tab-pane {
            position: relative;
            padding-top: 20px;
        }


        .wizard h3 {
            margin-top: 0;
        }

        .signup-step-container .prev-step,
        .signup-step-container .next-step {
            font-size: 13px;
            padding: 8px 24px;
            border: none;
            border-radius: 4px;

        }

       .signup-step-container  .next-step {
            background-color: #0db02b;
        }

       .signup-step-container  .tab-pane ul.list-inline {
            margin-top: 30px;
        }

        .signup-step-container .skip-btn {
            background-color: #cec12d;
        }

       .signup-step-container  .step-head {
            font-size: 20px;
            text-align: center;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .signup-step-container .term-check {
            font-size: 14px;
            font-weight: 400;
        }

        .signup-step-container .custom-file {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 40px;
            margin-bottom: 0;
        }

        .signup-step-container .custom-file-input {
            position: relative;
            z-index: 2;
            width: 100%;
            height: 40px;
            margin: 0;
            opacity: 0;
        }

        .signup-step-container .custom-file-label {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1;
            height: 40px;
            padding: .375rem .75rem;
            font-weight: 400;
            line-height: 2;
            color: #495057;
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: .25rem;
        }

        .signup-step-container .custom-file-label::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            display: block;
            height: 38px;
            padding: .375rem .75rem;
            line-height: 2;
            color: #495057;
            content: "Browse";
            background-color: #e9ecef;
            border-left: inherit;
            border-radius: 0 .25rem .25rem 0;
        }

        .signup-step-container .footer-link {
            margin-top: 30px;
        }

        .signup-step-container .all-info-container {}

        .signup-step-container .list-content {
            margin-bottom: 10px;
        }

        .signup-step-container .list-content a {
            padding: 10px 15px;
            width: 100%;
            display: inline-block;
            background-color: #f5f5f5;
            position: relative;
            color: #565656;
            font-weight: 400;
            border-radius: 4px;
        }

        .signup-step-container .list-content a[aria-expanded="true"] i {
            transform: rotate(180deg);
        }

        .signup-step-container .list-content a i {
            text-align: right;
            position: absolute;
            top: 15px;
            right: 10px;
            transition: 0.5s;
        }

        .signup-step-container .form-control[disabled],
        .signup-step-container .form-control[readonly],
        .signup-step-container fieldset[disabled] .form-control {
            background-color: #fdfdfd;
        }

        .signup-step-container .list-box {
            padding: 10px;
        }

        .signup-step-container .signup-logo-header .logo_area {
            width: 200px;
        }

        .signup-step-container .signup-logo-header .nav>li {
            padding: 0;
        }

        .signup-step-container .signup-logo-header .header-flex {
            display: flex;
            justify-content: center;
            align-items: center;
        }


/*-----------custom-checkbox-----------*/
        /*----------Custom-Checkbox---------*/
        .signup-step-container input[type="checkbox"] {
            position: relative;
            display: inline-block;
            margin-right: 5px;
        }

        .signup-step-container input[type="checkbox"]::before,
        .signup-step-container input[type="checkbox"]::after {
            position: absolute;
            content: "";
            display: inline-block;
        }

        .signup-step-container input[type="checkbox"]::before {
            height: 16px;
            width: 16px;
            border: 1px solid #999;
            left: 0px;
            top: 0px;
            background-color: #fff;
            border-radius: 2px;
        }

        .signup-step-container input[type="checkbox"]::after {
            height: 5px;
            width: 9px;
            left: 4px;
            top: 4px;
        }

        .signup-step-container input[type="checkbox"]:checked::after {
            content: "";
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: rotate(-45deg);
        }

        .signup-step-container input[type="checkbox"]:checked::before {
            background-color: #18ba60;
            border-color: #18ba60;
        }




        @media (max-width: 767px) {
            .signup-step-container .sign-content h3 {
                font-size: 40px;
            }

            .wizard .nav-tabs>li a i {
                display: none;
            }

            .signup-logo-header .navbar-toggle {
                margin: 0;
                margin-top: 8px;
            }

            .signup-logo-header .logo_area {
                margin-top: 0;
            }

            .signup-logo-header .header-flex {
                display: block;
            }
        }
