/**
 * grey.css
 * Color scheme file
 *
 * @package NewsPlus
 * @since 3.0
 * @version 3.0
 *
 * Main: #444
 * Sub: #666
 */

.primary-nav {
	background-color: #444;
	color: rgba(255,255,255,.87);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.nav-menu > li > a,
div.nav-menu > ul > li > a {
	color: inherit;
}

.primary-nav li:hover > a,
div.nav-menu > ul > li:hover > a {
/* .primary-nav li ul li:hover > a*/
	color: #fff;
	background: #666;
	border-bottom-color: transparent;
}

ul.nav-menu > li.current-menu-item > a,
ul.nav-menu > li.current-menu-ancestor > a,
ul.nav-menu > li.current_page_item > a,
ul.nav-menu > li.current_page_ancestor > a,
div.nav-menu > ul > li.current-menu-item > a,
div.nav-menu > ul > li.current-menu-ancestor > a,
div.nav-menu > ul > li.current_page_item > a,
div.nav-menu > ul > li.current_page_ancestor > a {
	color: #fff;
	background: #666;
	border-bottom-color: transparent;
}

.brand a span,
.site-title span {
	color: #ff6347;
}

/* Secondary and footer */

#secondary {
	background: #444;
	color: rgba(255,255,255,.7);
}

#footer {
	background: #222;
	color: rgba(255,255,255,.5);
}

#footer a {
	color: rgba(255,255,255,.7);
}

#footer a:hover {
	color: #fff;
}

.sc-title {
	color: #fff;
}

#secondary .widget a {
	color: rgba(255,255,255,.7);
}

#secondary .widget a:hover {
	color: #fff;
}

#secondary .entry-meta,
#secondary .widget .entry-meta a {
	color: rgba(255,255,255,.54);
}

#secondary .widget .entry-meta a:hover {
	color: rgba(255,255,255,.7);
}

#secondary .entry-list:after {
	border-bottom-color: rgba(255,255,255,.12);
}

#secondary .widget .tagcloud a {
	color: rgba(0,0,0,.7);
	background: #bbb;
}

#secondary .widget .tagcloud a:hover {
	color: rgba(0,0,0,.7);
	background: #777;
	background-image: none;
}

#secondary .widget .tagcloud a:active,
#secondary .widget .tagcloud a:focus {
	color: rgba(0,0,0,.4);
	background: #777;
}

.scroll-to-top a {
	background-color: #222;
}

.scroll-to-top a:hover {
	background-color: #ff6347;
}

/* WooCommerce */

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color:#ff6347;
	color:#fff;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	background:#ff6347;
	color:#fff
}

.woocommerce #respond input#submit.alt:active,
.woocommerce a.button.alt:active,
.woocommerce button.button.alt:active,
.woocommerce button.button.alt:focus,
.woocommerce input.button.alt:active {
	background:#ff6347;
	color: rgba(255,255,255,.54);
}

/* Recipe */
.info-board > li .ib-value {
	color: #ff6347;
}

/* Tabs */
.ss-tabs li.ui-tabs-active a,
.woocommerce-MyAccount-navigation > ul > li.is-active a {
	border-bottom-color: #ff6347;
}

.ticker-label,
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: #ff6347;
}


/* Styles for inline slim menu */

.inline-nav .nav-menu > li > a {
	color: #757575;
	background: transparent;
}

.inline-nav .nav-menu > li:hover > a {
	color: #424242;
	background: transparent;
	border-bottom-color: #c2c2c2;
}

.inline-nav ul.nav-menu > li.current-menu-item > a,
.inline-nav ul.nav-menu > li.current-menu-ancestor > a,
.inline-nav ul.nav-menu > li.current_page_item > a,
.inline-nav ul.nav-menu > li.current_page_ancestor > a {
	color: #424242;
	background: transparent;
	border-bottom-color: #666;
}