/*
Theme Name: Fashion - MST37305
Description: This is a child theme for Flatsome Theme
Theme URI: https://muatheme.com/san-pham/theme-wordpress-ban-hang-thoi-trang-nam-da-viet-hoa/
Author: MuaTheme.com
Author URI: https://muatheme.com
Template: flatsome
Version: 3.6.2
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}