
/**
 * Admin CSS
 *
 * Used to style theme options panel.
 */

.ss_wrap {
	color: #333;
}

.ss_wrap h2 {
	margin: 32px 0 20px;
}

h2.settings-title {
	margin-bottom: 1em;
}

.ss-nav-tab-wrapper {
	border-bottom: 1px solid #ccc;
}

.ss-settings-title {
	margin: 0 0 24px !important;
}

.item_row,
.subheading {
	position: relative;
	overflow: hidden;
	clear: both;
	margin: 0;
	padding: 16px 0;
	width: 100%;
	border: none !important;
}

.item_row {
	margin: 0 -12px;
}

.subheading {
	font-size: 1.166em;
	line-height: 1.2857;
	font-weight: bold;
	padding: 1.2857em 0;
}

.item_row li {
	position: relative;
	float: left;
	margin: 0 !important;
	padding: 0 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.item_row li.left_col {
	font-size: 14px;
	font-weight: 600;
	width: 25%;
	min-width: 200px;
}

.item_row li.right_col {
	width: 75%;
	margin-right: 0;
}

.item_row input[type="text"],
.item_row select,
.item_row textarea {
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}

.item_row textarea {
	min-width: 500px;
}

.left_col {
	color: #333;
}

.item_row small {
	font-size: 12px;
	color: #666;
}

.item_row .multiselect {
	min-width: 200px;
}

p.submit {
	margin-bottom: 0
}

.submit-row {
	margin: 0 0 20px;
	padding: 20px 0 0;
}

/* Clearing floats */
.clearfix:after {
	clear: both;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}