@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.imgbox{
  height: 100%;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
}

.abcd{
  position: absolute;

    bottom: 24px;

    width: 100%;

    text-align: center;
}

.my-tabs.fixed{
      flex: 1;
          overflow: hidden;
      width: 100%;
      position: relative!important;
     
}

.desktop-inv{
  flex:1;
}
#Login .leftcol {
                flex-direction: column;
      }
@media  (max-width: 1024px) {

      

/*
.groupcate{
 align-items: flex-start !important;
}
.my-products-tab button{
  width: 75px!important;
        display: block;
        word-break: break-word;
      height: 70px;
          border: 1px solid #cecece!important;
    margin-bottom: 8px;
}
.my-products-tab{
   overflow-x: hidden;
    margin: 0!important;
    overflow-y: auto;
    border: 0!important;
        height: 100%;
}


*/

}


.imgbox{
  height: 100%;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
}
.centerloading{
  position: absolute;

    bottom: 24px;

    width: 100%;

    text-align: center;
}