@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");

:root {
  --bodybg: #dcdefe;
  --primary-color: #5138ee;
  --grey: #d6d6d6;
  --placeholder: #969696;
  --white: #fff;
  --text: #333;
  --slider-bg: #eff3ff;
  --login-cta-hover: #1f0098;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bodybg);
  font-family: "Raleway", sans-serif;
  height: 100vh;
  display: flex;
}

.login-container {
  display: flex;
  max-width: 1200px;
  background: #efefef;
  margin: auto;
  width: 100%;
  min-width: 320px;
}

.login-container .logo svg {
  height: 40px;
  width: 40px;
  fill: var(--primary-color);
}

.login-container .login-form {
  width: 50%;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.login-container .login-form .login-form-inner {
 
  width: 100%;
 height: 100%;
    display: flex;
     
      flex-direction: column;
}
@media screen and (max-width: 1015px) {
 .login-container .login-form .login-form-inner {
    max-width: 380px;
    width: 95%;
  }
  .login-form-inner{
      flex-direction: column;
}
}

.login-container .login-form .google-login-button .google-icon svg {
  height: 20px;
  display: flex;
  margin-right: 10px;
}

.login-container .login-form .google-login-button {
  color: var(--text);
  border: 1px solid var(--grey);
  margin: 40px 0 20px;
}

.login-container .login-form .sign-in-seperator {
  text-align: center;
  color: var(--placeholder);
  position: relative;
  margin: 30px 0 20px;
}

.login-container .login-form .sign-in-seperator span {
  background: var(--white);
  z-index: 1;
  position: relative;
  padding: 0 10px;
  font-size: 14px;
}

.login-container .login-form .sign-in-seperator:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--grey);
  left: 0;
  top: 50%;
  z-index: 0;
}

.login-container .login-form .login-form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-container .login-form .login-form-group label {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
  margin-bottom: 10px;
}

.login-container .login-form .login-form-group input,.login-container .login-form .login-form-group select {
  padding: 13px 20px;
  box-sizing: border-box;
  border: 1px solid var(--grey);
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--text);
  transition: linear 0.2s;
}

.login-container .login-form .login-form-group input:focus,.login-container .login-form .login-form-group select:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.login-container
  .login-form
  .login-form-group
  input::-webkit-input-placeholder,.login-container .login-form .login-form-group select::-webkit-input-placeholder {
  color: var(--placeholder);
  font-weight: 300;
  font-size: 14px;
}

.login-container .login-form .login-form-group.single-row {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
}

/* custom checkbox */
.login-container .login-form .custom-check input[type="checkbox"] {
  height: 23px;
  width: 23px;
  margin: 0;
  padding: 0;
  opacity: 1;
  appearance: none;
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  background: var(--white);
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.login-container .login-form .custom-check input[type="checkbox"]:checked {
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
}

.login-container
  .login-form
  .custom-check
  input[type="checkbox"]:checked:before,
.login-container
  .login-form
  .custom-check
  input[type="checkbox"]:checked:after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--white);
}

.login-container
  .login-form
  .custom-check
  input[type="checkbox"]:checked:before {
  width: 8px;
  top: 11px;
  left: 2px;
  transform: rotate(44deg);
}

.login-container
  .login-form
  .custom-check
  input[type="checkbox"]:checked:after {
  width: 14px;
  top: 8px;
  left: 5px;
  transform: rotate(-55deg);
}

.login-container .login-form .custom-check input[type="checkbox"]:focus {
  outline: none;
}

.login-container .login-form .custom-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container .login-form .custom-check label {
  margin: 0;
  color: var(--text);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.login-container .login-form .link {
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
}

.login-container .login-form .link:hover {
  text-decoration: underline;
}

.login-cta {
  color: var(--white);
  text-decoration: none;
  border: 1px solid var(--primary-color);
  margin: 25px 0 35px;
  background: var(--primary-color);
}

.login-cta:hover {
  background: var(--login-cta-hover);
}

.login-container .onboarding {
  flex: 1;
  background: var(--slider-bg);
  display: none;
  width: 50%;
}

.login-container .login-form .login-form-group label .required-star {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 10px;
}

 .rounded-button {
  display: flex;
  width: 100%;
  text-decoration: none;
  border-radius: 50px;
  padding: 13px 20px;
  box-sizing: border-box;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  transition: linear 0.2s;
}

 .rounded-button:hover {
  box-shadow: 0px 0px 4px 0px var(--grey);
}

.login-container .body-text {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
}

.login-container .onboarding .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.login-container .onboarding .swiper-slide {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--text);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.login-container .onboarding .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.login-container .onboarding .swiper-slide {
  flex-direction: column;
  display: flex;
}

.login-container .onboarding .swiper-slide .slide-image img {
  width: 100%;
  height: 80%;
}
.login-container .onboarding .slide-content {
  width: 60%;
}

.login-container .onboarding .slide-content h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.login-container .onboarding .slide-content p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}

.login-container .login-form .login-form-inner h1 {
  margin-bottom: 20px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .login-container .onboarding {
    display: flex;
    
  }
}

@media screen and (max-width: 767px) {
  .login-container {
    height: 100vh;
  }
}

@media screen and (width: 768px) {
  .login-container .onboarding {
    order: 0;
  }
  .login-container .login-form {
    order: 1;
  }
  .login-container {
    height: 100vh;
  }
}


  .login-container{
  background: url(https://i.pinimg.com/564x/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.jpg) no-repeat;
  background-size: contain;
    background-color: #efefef
}
.login-container .header{
      margin: 16px 0;
      color: #fff;
      font-size: 24px;
}
.login-container .header .title{ 
    flex: 1;
}
@media screen and (max-width: 1015px) {
  body,html{
    background-color: #fff!important;
        overflow: hidden;
  }

  .login-container .login-form,.login-container .login-form .login-form-inner{
height: 100%;
  }


  .login-container .login-form {
    padding: 0px;
  }
  .login-container .login-form-group {
    margin-bottom: 16px;
  }
  .login-container {
    margin: 0;
  }



.header .logo{
  border-radius: 50%;
    margin-right: 8px;
    background-color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    background-position: center;
    background-size: auto;
}
.body{
      flex: 1;
    background-color: #efefef;
    margin: 0 -10px;
    padding: 12px;
    border-radius: 0;
    border-radius: 32px 32px 0 0;
    overflow-y: auto;
    overflow-x: hidden;
}
}

.title{
  font-size: 14px;
    font-weight: bold;
}

.white-view{
  display: block;position: relative;

    box-shadow: none;
    margin-bottom: 16px;
    background-color: #fff;
}
.main-head{
      min-height: 130px;
    border-radius: 32px;
    margin: -12px -12px 16px -12px;
        overflow: hidden;
}

.ptitle{
   font-size: 16px;
}

.all{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.all .white-view{
    width: 47%;
    padding: 15px;
    font-size: 14px;
}
 

 .block1{}
 .block2{

         margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .block3{
  
 }
 .circle{
      border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    line-height: 50px;
        margin-right: 4px;

 }

 .bg-primay1{
  color: #fff;
  background-color: #39cb75;
  border:1px solid #39cb75;
 }
 .color-primay1{
  color: #39cb75; 
 }

 .bg-primay2{
   color: #fff;
  background-color: #9C27B0;
  border:1px solid #9C27B0;
 }
  .color-primay2{
  color: #9C27B0; 
 }

 .bg-primay3{
   color: #fff;
  background-color: #2a3246;
  border:1px solid #2a3246;
 }

  .color-primay3{
  color: #2a3246; 
 }


 .actions i{
  margin-left: 16px;
}

.footer{
    background-color: #fff;
    margin: 0 -8px;
     
}
.footer img{
    width: 24px;
    height: 24px;
}
.footer>div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    position: relative;
}
.footer>div>span{
        display: block;
            position: relative;
    padding: 8px;
}

.footer>div>span i,.footer>div>span a{
    display: block;
        color: inherit;
}

.footer>div>span.active{
     color: #39cb75;
}
.footer i{
    color: #39cb75;
}

.footer .sale{
    position: absolute;
    top: -10px;
    left: 10px;
    border-radius: 50%;
    border: 1px solid #333;
}


/*Circle point*/

.pointbox {
      display: inline-block;
    width: 50px;
    height: 50px;
        position: relative;
}
.pointbox:before{
       content: attr(data-percent);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.pointbox .round {
  transform: rotate(-90deg);
  transition: all 1s ease-in-out;
      width: 100%;
    height: 100%;
  /* SVG */
  fill: none;
  stroke: red;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-dasharray: 0 999;
      position: absolute;
    top: 0;
    left: 0;
    stroke: #ccc;
}

.pointbox .round.run{
    stroke: #2a3246
}

.pointbox .round:not(.run){
    stroke-dasharray: 360 999;
     stroke: #ccc;
}

.pointbox.green .round.run{
     stroke: #39cb75;
}


.pointbox.blue .round.run{
     stroke: blue;
}

.pointbox.purple .round.run{
     stroke: #9C27B0;
}
.pointbox.pink .round.run{
     stroke: pink;
}

.pointbox.orange .round.run{
     stroke: orange;
}


.in.active{
  display: block!important;
 }