.submenu-header{
    position: absolute;
    top: 0;
    right: 0;
  }
  @media   (max-width: 1024px) {
    .myhome{
      display: flex;
      flex-direction: column-reverse;
    }
    .page-id-46369 .home-banner-height{
      height: initial;
      margin-bottom: 32px;
    }
    .page-id-46369 .home-banner-height .vc-hoverbox {
      height: initial;
    }
    .myhome>.vc_col-sm-9 .move-box{
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
          white-space: nowrap;
    }
    .myhome>.vc_col-sm-9 .move-box > *{
      display: inline-block;
      width: 90%;
      margin-right: 16px;
      height: 363px;
      overflow: hidden;
    }
    .myhome>.vc_col-sm-9 .move-box .vc-hoverbox {
        height: 100%;
    }
  }